.collectionContainer {
  inline-size: 100vw;
  margin-block-end: 30px;
}

.title {
  font-family: var(--font-main-text);
  color: var(--text-profile-color);
  font-size: 24px;
  font-weight: 700;
  margin-block-end: 20px;
}

.posterContainer {

}

.swiperWrapper {
}