.collectionContainer {
  margin-block-end: 30px;
  display: grid;
  row-gap: 36px;
}

.title {
  font-family: var(--font-main-text);
  color: var(--text-profile-color);
  font-size: 24px;
  font-weight: 700;
}

.posterContainer {
  justify-self: center;
  display: grid;
  grid-auto-flow: column;
}

.poster {
  margin-inline-start: 45px;
}

.img {
  inline-size: 210px;
  block-size: 310px;
}

.swiper {
  inline-size: 320px;
}

.customPrevBtn {
  inline-size: 15px;
  display: none;
}

.customNextBtn {
  inline-size: 15px;
  display: none;
}