:root {
  --font-main-text: sans-serif;
  --bg-menu-color: #09090f;
  --menu-button-color: #51535d;
  --menu-button-colorActive: #ffffff;
  --bg-input: rgba(118, 118, 128, 0.12);
  --text-profile-color: #ffffff;
  --text-info-profile-color: #A0A0A0;
  --button-text-color: #A0A0A0;
  --custom-button-color: #51535E;
}
