.filtersContainer {
    display: grid;
    row-gap: 16px;
}

.buttonContainer {
    display: grid;
    grid-auto-flow: column;
}

.button {
    display: grid;
    justify-content: start;
    row-gap: 4px;
}

.buttonTitle {
    text-align: center;
    font-family: var(--font-main-text);
    color: var(--button-text-color);
    font-size: 12px;
}

.customButton {
    inline-size: 52px;
    block-size: 52px;
    padding: 14px;
    background-color: var(--custom-button-color);
    border-radius: 15px;
}

.icon {
    justify-self: center;
    align-self: center;
}