.swiper {
  position: relative;
  inline-size: 100%;
}

.customPrevBtn,
.customNextBtn {
  display: grid;
  padding-block-end: 1px;
  padding-inline: 5px;
  position: absolute;
  z-index: 1;
  top: 50px;
  background-color: var(--border-shadow);
  opacity: 0.5;
  border-radius: 20px;
}

.customPrevBtn {
  justify-self: flex-start;
  left: 10px;
}

.customNextBtn {
  justify-self: flex-end;
  right: 10px;
}

.img {
  inline-size: 100%;
}
