.buttonContainer {
  padding-inline: 50px;
  padding-block-start: 20px;
  padding-block-end: 50px;
  inline-size: 100%;
  display: grid;
  column-gap: 68px;
  grid-auto-flow: column;
  align-items: center;
  background-color: var(--bg-menu-color);
}

.link {
  fill: var(--menu-button-color);
}

.linkActive {
  position: relative;
  fill: var(--menu-button-colorActive);
}

.linkActive::before {
  position: absolute;
  top: 30px;
  left: 1px;
  content: " ";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: var(--menu-button-colorActive);
  border-radius: 50%;
  margin-left: 8px;
}

.buttonTitle {
  display: none;
}
